body {
    user-select: none;
    background-image: linear-gradient(to right, #000033 , #120A8F);
    /* font-family: sans-serif; */
    margin: 0;
    font-family: "Righteous", sans-serif;
    font-weight: 400;
    font-style: normal;
}


/* -------------------------------------------------- */

.header {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    width: 90%;
    padding: 1.3rem 5%;
    /* background: rgba(0, 0, 0, 0.1); */
    /* backdrop-filter: blur(10px); */
    display: flex;
    justify-content: space-between;
    /* font-family: "poppins", sans-serif; */
    font-family: "Righteous", sans-serif;
}

.header * {
    margin: 0;
    padding: 0;
}

.header::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 120%;
    background: rgb(0, 0, 0, 0.1);
    backdrop-filter: blur(50px);
    z-index: -1;
}

.header .navlogo {
    display: inline-flex;
    width: 130px;
    height: 130px;

    margin-top: -40px;
    cursor: pointer;

    margin-bottom: -70px;
}

.navbar a {
    font-size: 22px;
    color: #ffffff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 2.5rem;
    position: relative;
    font-family: "Righteous", sans-serif;
    margin-top: 100px;
}

.navbar a::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: #fff;
    transition: 0.3s;
}

.navbar a:hover::before {
    width: 100%;
}

#check {
    display: none;
}

.icons {
    font-size: 2.8rem;
    color: #f0f0f0;
    cursor: pointer;
    display: none;
    position: absolute;
    right: 5%;
}

/* breakpoints */
@media (max-width: 900px) {
    .icons {
        display: inline-flex;
    }

    #check:checked~.icons #menu-icon {
        display: none;
    }

    .icons #close-icon {
        display: none;
    }

    #check:checked~.icons #close-icon {
        display: block;
    }

    .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 0;
        background: rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(50px);
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
        overflow: hidden;
        transition: 0.3s ease;

    }

    #check:checked~.navbar {
        height: 20rem;
    }

    .navbar a {
        display: block;
        font-size: 1.1rem;
        margin: 1.5rem 0;
        text-align: center;
        transform: translateY(-50px);
        opacity: 0;
        transition: 0.3s ease;
    }

    .navbar a:hover::before {
        width: 20%;
        left: 40%;
    }

    #check:checked~.navbar a {
        transform: translateY(0);
        opacity: 1;
        transition-delay: calc(0.15s * var(--i));
    }
}

.front {

    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    margin-left: 0;
}

.win-text {
    padding-top: 20px;
    text-align: center;
    color: rgb(255, 174, 0);
    font-weight: 500;
    font-size: 50px;
    font-family: "Righteous", sans-serif;
}

.run-text {
    padding-top: 20px;
    text-align: center;
    color: rgb(255, 174, 0);
    font-weight: 500;
    font-size: 50px;
    font-family: "Righteous", sans-serif;
}

section {
    padding: 2rem 9%;
}

.btn {
    display: inline-block;
    border-radius: 10px;
    background: #040738;
    color: #fff;
    padding: 1rem 1.3rem;
    cursor: pointer;
    font-size: 22px;
    text-decoration: none;
}

.btn:hover {
    background-color: #00264D;

}

.ideathon {
    display: flex;
    align-items: center;
    min-height: 100vh;
    background: url("../img/id1.png") no-repeat;
    background-size: cover;
    background-position: center;
}

.ideathon .content {
    max-width: 50rem;

}

.ideathon .content p {
    font-size: 1.5rem;
    color: #fff;
    padding: 4rem 0;
    line-height: 1.5;
}

.champion-text {
    margin-top: 130px;
    font-weight: 700;
    font-size: 35px;
    text-align: center;
    color: #ffff;
    font-family: "Righteous", sans-serif;
}

.wrapper {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.card {
    width: 280px;
    height: 360px;
    padding: 2rem 1rem;
    background: #fff;
    position: relative;
    display: flex;
    align-items: flex-end;
    box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
    transition: 0.5s ease-in-out;
}

.card:hover {
    transform: translateY(20px);
}

.card:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(78, 35, 157, 0.399), rgb(52, 111, 198));
    z-index: 2;
    transition: 0.5s all;
    opacity: 0;
}

.card:hover:before {
    opacity: 1;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;

}

.card info {
    position: relative;
    z-index: 5;
    color: #fff;
    opacity: 0;
    transform: translateY(30px);
    transition: 0.5s all;
    font-family: "Righteous", sans-serif;
}

.card:hover .info {
    opacity: 1;
    transform: translateY(0px);
}

.card .info h1 {
    margin: 0;
    color: #fff;
    font-family: "Righteous", sans-serif;
}

.card .info p {
    letter-spacing: 1px;
    font-size: 15px;
    margin-top: 8px;
    margin-bottom: 20px;
    color: #fff;
    font-family: "Righteous", sans-serif;
}

/* =================================== */

.footer {
    position: absolute;
    left: 0;
    right: 0;
    background: #111;
    height: auto;
    margin-top: 20px;
    padding-top: 40px;
    color: #ffffff;
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.footer-content h3 {
    font-size: 2.1rem;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 3rem;
}

.footer-content p {
    max-width: 800px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
    color: #cacdd2;
}

.socials {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}

.socials li {
    margin: 0 10px;
}

.socials a {
    text-decoration: none;
    color: #fff;
    border: 1.1px solid white;
    padding: 5px;

    border-radius: 50%;
}

.socials a i {
    font-size: 1.1rem;
    width: 20px;

    transition: color 0.4s ease;
}

.socials a:hover i {
    color: aqua;
}

.footer-bottom {
    padding-bottom: 50px;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    background: #000000;
}

.footer-bottom p {
    float: left;
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}

.footer-bottom p a {
    color: #44bae8;
    font-size: 16px;
    text-decoration: none;
}

.footer-bottom span {
    text-transform: uppercase;
    opacity: 0.4;
    font-weight: 200;
}

.footer-menu {
    float: right;
}

.footer-menu ul {
    padding-right: 0px;
    display: block;
}

.footer-menu ul a {
    color: #cfd2d6;
    text-decoration: none;
    padding-left: 5px;
}

.footer-menu ul a:hover {
    color: #27bcda;
}

@media (max-width: 500px) {
    .footer-menu ul {
        display: flex;
        margin-top: 10px;
        margin-bottom: 20px;
    }
}

.event{
    color: white;
    width: 85%;
    margin-left: 120px;
}