<!DOCTYPE html>

<head>
  <link rel="stylesheet" href="./public/css/swiper-bundle.min.css" />
  <link rel="stylesheet" href="./public/css/oc-style.css" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
  <link rel="stylesheet" href="./public/css/navbar.css" />
  <link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet">
  <link rel="icon" type="image/x-icon" href="./public/img/4.png">

</head>

<body>
  <header class="header">
    <div class="navlogo">
      <img src="./public/img/4.png" alt="nav-logo" />
    </div>
    <input type="checkbox" id="check" />
    <label for="check" class="icons">
      <i class="bx bx-menu" id="menu-icon"></i>
      <i class="bx bx-x" id="close-icon"></i>
    </label>
    <nav class="navbar">
      <a href="index.html" style="--i: 0">Home</a>
      <a href="index.html#timeline" style="--i: 1">Timeline</a>
      <a href="Ideathon.html" style="--i: 2">Ideathon</a>
      <a href="oc.html" style="--i: 3">The OC</a>
      <a href="partners.html" style="--i: 4">Partners</a>
      <a href="index.html#contact us" style="--i: 5">Contact Us</a>
    </nav>
  </header>
  <!-- =================================== -->
  <p class="OCtitle">The team behind IntelliCon '24 </p>
  
    

      <p class="OCevent">The event managers</p>
  <div class="card-wrapper">

   
    <div class="card">
      <div class="profile-pic">
        <img src="./public/img/nimasha1.jpg" />
      </div>
      <div class="bottom">
        <div class="content">
          <span class="name">Nimasha Fernandopulle</span>
          <span class="about-me">Event Manager of IntelliCon '24
          </span>
        </div>
        <!-- <div class="bottom-bottom">
            <div class="social-links-container">
              <p class="card-text">Apoorva Suraweera</p>
          </div>
        </div> -->
      </div>
    </div>
    <div class="card">
      <div class="profile-pic">
        <img src="./public/img/tanuri .jpg" />
      </div>
      <div class="bottom">
        <div class="content">
          <span class="name">Tanuri Chandrasiri</span>
          <span class="about-me">Event Manager of IntelliCon '24
          </span>
        </div>
        <!-- <div class="bottom-bottom">
            <div class="social-links-container">
              <p class="card-text">Apoorva Suraweera</p>
          </div>
        </div> -->
      </div>
    </div>
  </div>
  <p class="OCP">Meets the OC Talos</p>
  <div class="introsectionOCP">
<div class="wrapperocp">


  <div class="card">
    <div class="profile-pic">
      <img src="./public/img/INTELLICON-OC-06.jpg" />
    </div>
    <div class="bottom">
      <div class="content">
        <span class="name">Apoorva Suraweera</span>
        <span class="about-me">Organizing Committee President
          of IntelliCon '24
        </span>
      </div>
      <!-- <div class="bottom-bottom">
          <div class="social-links-container">
            <p class="card-text">Apoorva Suraweera</p>
        </div>
      </div> -->
    </div>
  </div>
</div>
</div>
     
      
     
     <div class="introsection">
     
     
  <div class="grid-container">
    <div class="card">
      <div class="profile-pic">
        <img src="./public/img/INTELLICON-OC-01.jpg" />
      </div>
      <div class="bottom">
        <div class="content">
          <span class="name">Yohan Wickramasinghe</span>
          <span class="about-me">Organizing Committee Vice President for Research & Development and Public Relations
            of IntelliCon '24
          </span>
        </div>
        <!-- <div class="bottom-bottom">
              <div class="social-links-container">
                <p class="card-text">Apoorva Suraweera</p>
            </div>
          </div> -->
      </div>
    </div> 
    
    <div class="card">
        <div class="profile-pic">
          <img src="./public/img/INTELLICON-OC-17.jpg" />
        </div>
        <div class="bottom">
          <div class="content">
            <span class="name">Dilara Liyanage</span>
            <span class="about-me">Organizing Committee Vice President for Research & Development and Public Relations
              of IntelliCon '24
            </span>
          </div>
          <!-- <div class="bottom-bottom">
                <div class="social-links-container">
                  <p class="card-text">Apoorva Suraweera</p>
              </div>
            </div> -->
        </div>
      </div>



      <div class="card">
        <div class="profile-pic">
          <img src="./public/img/INTELLICON-OC-10.jpg" />
        </div>
        <div class="bottom">
          <div class="content">
            <span class="name">Ninuri Eldeniya</span>
            <span class="about-me">Organizing Committee Vice President for Finance
              of IntelliCon '24
            </span>
          </div>
          <!-- <div class="bottom-bottom">
                <div class="social-links-container">
                  <p class="card-text">Apoorva Suraweera</p>
              </div>
            </div> -->
        </div>
      </div>

      <div class="card">
        <div class="profile-pic">
          <img src="./public/img/INTELLICON-OC-03.jpg" />
        </div>
        <div class="bottom">
          <div class="content">
            <span class="name">Chamini Walpola</span>
            <span class="about-me">Organizing Committee Vice President for Marketing
              of IntelliCon '24
            </span>
          </div>
          <!-- <div class="bottom-bottom">
              <div class="social-links-container">
                <p class="card-text">Apoorva Suraweera</p>
            </div>
          </div> -->
        </div>
      </div>

      

      <div class="card">
        <div class="profile-pic">
          <img src="./public/img/INTELLICON-OC-09.jpg" />
        </div>
        <div class="bottom">
          <div class="content">
            <span class="name">Binali Gajamange</span>
            <span class="about-me">Organizing Committee Vice President for Marketing
              of IntelliCon '24
            </span>
          </div>
          <!-- <div class="bottom-bottom">
                <div class="social-links-container">
                  <p class="card-text">Apoorva Suraweera</p>
              </div>
            </div> -->
        </div>
      </div>



      <div class="card">
        <div class="profile-pic">
          <img src="./public/img/INTELLICON-OC-07.jpg" />
        </div>
        <div class="bottom">
          <div class="content">
            <span class="name">Marlon Vithanage</span>
            <span class="about-me">Organizing Committee Vice President for Marketing
              of IntelliCon '24
            </span>
          </div>
          <!-- <div class="bottom-bottom">
                <div class="social-links-container">
                  <p class="card-text">Apoorva Suraweera</p>
              </div>
            </div> -->
        </div>
      </div>

      <div class="card">
        <div class="profile-pic">
          <img src="./public/img/INTELLICON-OC-04.jpg" />
        </div>
        <div class="bottom">
          <div class="content">
            <span class="name">Vinuka Pahalavithana</span>
            <span class="about-me">Organizing Committee Vice President for Logistics 
               & Events of <br/> IntelliCon '24
            </span>
          </div>
          <!-- <div class="bottom-bottom">
              <div class="social-links-container">
                <p class="card-text">Apoorva Suraweera</p>
            </div>
          </div> -->
        </div>
      </div>

      <div class="card">
        <div class="profile-pic">
          <img src="./public/img/INTELLICON-OC-08.jpg" />
        </div>
        <div class="bottom">
          <div class="content">
            <span class="name">Gevindu Masakorala</span>
            <span class="about-me">Organizing Committee Vice President for Logistics 
              & Events of <br/> IntelliCon '24
            </span>
          </div>
          <!-- <div class="bottom-bottom">
                <div class="social-links-container">
                  <p class="card-text">Apoorva Suraweera</p>
              </div>
            </div> -->
        </div>
      </div>

      <div class="card">
        <div class="profile-pic">
          <img src="./public/img/INTELLICON-OC-13.jpg" />
        </div>
        <div class="bottom">
          <div class="content">
            <span class="name">Tharuka Gamage</span>
            <span class="about-me">Organizing Committee Vice President for Logistics 
              & Events of <br/> IntelliCon '24
            </span>
          </div>
          <!-- <div class="bottom-bottom">
                <div class="social-links-container">
                  <p class="card-text">Apoorva Suraweera</p>
              </div>
            </div> -->
        </div>
      </div>



      <div class="card">
        <div class="profile-pic">
          <img src="./public/img/INTELLICON-OC-12.jpg" />
        </div>
        <div class="bottom">
          <div class="content">
            <span class="name">Ruwani Sachintha</span>
            <span class="about-me">Organizing Committee Vice President for Delegates Experience
              of IntelliCon '24
            </span>
          </div>
          <!-- <div class="bottom-bottom">
                <div class="social-links-container">
                  <p class="card-text">Apoorva Suraweera</p>
              </div>
            </div> -->
        </div>
      </div>

      <div class="card">
        <div class="profile-pic">
          <img src="./public/img/INTELLICON-OC-05.jpg" />
        </div>
        <div class="bottom">
          <div class="content">
            <span class="name">Tharushi Nimeshika</span>
            <span class="about-me">Organizing Committee Vice President for Delegates Experience
              of IntelliCon '24
            </span>
          </div>
          <!-- <div class="bottom-bottom">
              <div class="social-links-container">
                <p class="card-text">Apoorva Suraweera</p>
            </div>
          </div> -->
        </div>
      </div>

      <div class="card">
        <div class="profile-pic">
          <img src="./public/img/rukicopy.jpg" />
        </div>
        <div class="bottom">
          <div class="content">
            <span class="name">Rukaiya Odayar</span>
            <span class="about-me">Organizing Committee Vice President for Delegates Experience
              of IntelliCon '24
            </span>
          </div>
          <!-- <div class="bottom-bottom">
                <div class="social-links-container">
                  <p class="card-text">Apoorva Suraweera</p>
              </div>
            </div> -->
        </div>
      </div>

      <div class="card">
        <div class="profile-pic">
          <img src="./public/img/INTELLICON-OC-16.jpg" />
        </div>
        <div class="bottom">
          <div class="content">
            <span class="name">Chelaka Wijesekara</span>
            <span class="about-me">Organizing Committee Vice President for Partnership Development
              of IntelliCon '24
            </span>
          </div>
          <!-- <div class="bottom-bottom">
                <div class="social-links-container">
                  <p class="card-text">Apoorva Suraweera</p>
              </div>
            </div> -->
        </div>
      </div>



      <div class="card">
        <div class="profile-pic">
          <img src="./public/img/INTELLICON-OC-02.jpg" />
        </div>
        <div class="bottom">
          <div class="content">
            <span class="name">Kulani Karunaratne</span>
            <span class="about-me">Organizing Committee Vice President for Partnership Development
              of IntelliCon '24
            </span>
          </div>
          <!-- <div class="bottom-bottom">
                <div class="social-links-container">
                  <p class="card-text">Apoorva Suraweera</p>
              </div>
            </div> -->
        </div>
      </div>

      <div class="card">
        <div class="profile-pic">
          <img src="./public/img/INTELLICON-OC-15.jpg" />
        </div>
        <div class="bottom">
          <div class="content">
            <span class="name">Tanuri Dissanayake</span>
            <span class="about-me">Organizing Committee Vice President for Partnership Development
              of IntelliCon '24'
            </span>
          </div>
          <!-- <div class="bottom-bottom">
                <div class="social-links-container">
                  <p class="card-text">Apoorva Suraweera</p>
              </div>
            </div> -->
        </div>
      </div>

      <div class="card">
        <div class="profile-pic">
          <img src="./public/img/INTELLICON-OC-11.jpg" />
        </div>
        <div class="bottom">
          <div class="content">
            <span class="name">Lakshi Senadeera</span>
            <span class="about-me">Organizing Committee Vice President for Partnership Development
              of IntelliCon '24'
            </span>
          </div>
          <!-- <div class="bottom-bottom">
                <div class="social-links-container">
                  <p class="card-text">Apoorva Suraweera</p>
              </div>
            </div> -->
        </div>
      </div>
    </div>
    
  </div>

  <div class="footer">
    <div class="footer-content">
        <div>
            <!-- <img src="./public/img/alogo.png" width="400px" alt="" /> -->
            <img src="./public/img/aislogos.png" width="600px" alt="" />
        </div>
        <p>
            AIESEC in SLIIT is a local chapter of AIESEC Sri Lanka, a
            non-governmental not-for-profit organization. AIESEC is a
            global youth-led organization striving to achieve peace and
            fulfillment of humankind's potential by activating
            leadership qualities in youth through learning from
            practical experiences in challenging environments. Together
            with partner organizations, AIESEC facilitates a network of
            cross-cultural exchanges 9n the form of volunteering
            experiences and professional internships.
        </p>
        <ul class="socials">
            <li>
                <a href="http://aiesec.lk/intellicon24-event-page"><i class="fa fa-facebook"></i></a>
            </li>
            
            <!-- <li>
                <a href="#"><i class="fa fa-twitter"></i></a>
            </li> -->
           <!--  <li>
                <a href="#"><i class="fa fa-google-plus"></i></a>
            </li> -->
            <li>
                <a href="https://youtube.com/@aiesecinsrilanka?si=jpOZf__wqlNEQnYn"><i class="fa fa-youtube"></i></a>
            </li>
            <li>
                <a href="https://www.linkedin.com/company/aieseclk/"><i class="fa fa-linkedin-square"></i></a>
            </li>
        </ul>
    </div>
    <div class="footer-bottom">
        <p>copyright &copy; <a href="#">OC-Talos</a></p>
        <!-- <div class="footer-menu">
            <ul class="f-menu">
                <a href="#" style="--i: 0">Home</a>
                <a href="#timeline" style="--i: 1">Timeline</a>
                <a href="Ideathon.html" style="--i: 2">Ideathon</a>
                <a href="#FAQ" style="--i: 3">FAQ</a>
                <a href="partners.html" style="--i: 4">Partners</a>
                <a href="#contact us" style="--i: 5">Contact Us</a>
            </ul>
        </div> -->
    </div>
</div>






</body>