<!DOCTYPE html>

<head>
  <link rel="stylesheet" href="./public/css/swiper-bundle.min.css" />
  <link rel="stylesheet" href="./public/css/oc-style.css" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
  <link rel="stylesheet" href="./public/css/navbar.css" />
  <link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet">
  <link rel="icon" type="image/x-icon" href="./public/img/4.png">

</head>

<body>
  <header class="header">
    <div class="navlogo">
      <img src="./public/img/4.png" alt="nav-logo" />
    </div>
    <input type="checkbox" id="check" />
    <label for="check" class="icons">
      <i class="bx bx-menu" id="menu-icon"></i>
      <i class="bx bx-x" id="close-icon"></i>
    </label>
    <nav class="navbar">
      <a href="index.html" style="--i: 0">Home</a>
      <a href="#timeline" style="--i: 1">Timeline</a>
      <a href="Ideathon.html" style="--i: 2">Ideathon</a>
      <a href="oc.html" style="--i: 3">The OC</a>
      <a href="partners.html" style="--i: 4">Partners</a>
      <a href="#contact us" style="--i: 5">Contact Us</a>
    </nav>
  </header>
  <!-- =================================== -->
  <p class="OCtitle">Meet OC Talos</p>
  <div class="introsection">

    <div class = "card-container">
      <div class="card">
        <div class="profile-pic">
          <img src="./public/img/INTELLICON-OC-06.jpg" />
        </div>
        <div class="bottom">
          <div class="content">
            <span class="name">Apoorva Suraweera</span>
            <span class="about-me">Organizing Committee President
              of IntelliCon '24'
            </span>
          </div>
          <!-- <div class="bottom-bottom">
              <div class="social-links-container">
                <p class="card-text">Apoorva Suraweera</p>
            </div>
          </div> -->
        </div>
      </div>

      <div class="card">
        <div class="profile-pic">
          <img src="./public/img/INTELLICON-OC-01.jpg" />
        </div>
        <div class="bottom">
          <div class="content">
            <span class="name">Yohan Wickramasinghe</span>
            <span class="about-me">Organizing Committee Vice President Research & Development and Public Relations
              of IntelliCon '24'
            </span>
          </div>
          <!-- <div class="bottom-bottom">
                <div class="social-links-container">
                  <p class="card-text">Apoorva Suraweera</p>
              </div>
            </div> -->
        </div>
      </div>

      <div class="card">
        <div class="profile-pic">
          <img src="./public/img/INTELLICON-OC-17.jpg" />
        </div>
        <div class="bottom">
          <div class="content">
            <span class="name">Dilara Liyanage</span>
            <span class="about-me">Organizing Committee Vice President Research & Development and Public Relations
              of IntelliCon '24'
            </span>
          </div>
          <!-- <div class="bottom-bottom">
                <div class="social-links-container">
                  <p class="card-text">Apoorva Suraweera</p>
              </div>
            </div> -->
        </div>
      </div>



      <div class="card">
        <div class="profile-pic">
          <img src="./public/img/INTELLICON-OC-16.jpg" />
        </div>
        <div class="bottom">
          <div class="content">
            <span class="name">Chelaka Wijesekara</span>
            <span class="about-me">Organizing Committee Vice President of Partnership Development
              of IntelliCon '24'
            </span>
          </div>
          <!-- <div class="bottom-bottom">
                <div class="social-links-container">
                  <p class="card-text">Apoorva Suraweera</p>
              </div>
            </div> -->
        </div>
      </div>
    
    </div>
    
    <div class="card-container"></div>
  </div>








</body>