<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Partners</title>
        <link rel="icon" type="image/x-icon" href="./public/img/4.png">

        <!-- =================================== styles + css modules =================================== -->

        <link rel="stylesheet" href="./public/css/partner-styles.css" />
        <link rel="stylesheet" href="./public/css/swiper-bundle.min.css" />
        <link
            rel="stylesheet"
            href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        />

        <!-- =================================== fonts =================================== -->

        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Slab:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Smooch&display=swap"
            rel="stylesheet"
        />
        <link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet">
        <!-- =================================== remixicons =================================== -->
        <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/remixicon/4.0.1/remixicon.min.css"
        />

        <link
            href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css"
            rel="stylesheet"
        />
    </head>

    <body>
        <header class="header">
            <div class="navlogo">
                <img src="./public/img/4.png" alt="nav-logo" />
            </div>
            <input type="checkbox" id="check" />
            <label for="check" class="icons">
                <i class="bx bx-menu" id="menu-icon"></i>
                <i class="bx bx-x" id="close-icon"></i>
            </label>
            <nav class="navbar">
                <a href="index.html" style="--i: 0">Home</a>
                <a href="index.html#timeline" style="--i: 1">Timeline</a>
                <a href="Ideathon.html" style="--i: 2">Ideathon</a>
                <a href="oc.html" style="--i: 3">The OC</a>
                <a href="#" style="--i: 4">Partners</a>
                <a href="index.html#contact us" style="--i: 5">Contact Us</a>
            </nav>
        </header>

        <div class="Partners-text">Official Partners</div>
        <br><br><br>
         
        <div class="container">
            <section class="partner">
                
                    <div class="partnerss-swiper-container swiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide partnerss-card">
                                <img src="./public/img/IMG_9942.PNG" alt="" />
                            </div>
                        </div>
                    </div>
                <div class="partner-content">
                    <h1>Official Bronze Partner</h1>
                    <p> Company name: Acorn Group</p>
                    <p>Acorn group, is a diverse conglomerate based in Sri Lanka, founded in march 2020 by a team of professionals.
                        The company operates in several sectors, including Aviation, Inbound/ Outbound travel, and leisure, and also has diversified into freight & logistics, insurance brokering, and education management. Acorn group has a regional footprint, operating in Sri Lanka, Maldives, Thailand.
                        Cambodia, UAE and Bangladesh.</p>

                </div>
            </section>
            <br><br><br>
            <section class="partner">
                <div class="partnerss-swiper-container swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide partnerss-card">
                            <img src="./public/img/keells.PNG" alt="" />
                        </div>
                    </div>
                </div>
                <div class="partner-content">
                    <h1>Official Associate Partner</h1>
                    <p> Company name: Keells Krest</p>
                    <p>Keells Krest is a leading Sri Lankan brand renowned for its range of processed food oroducts which
                        is a part of veylon cold stories PLC under John Keells Holdings, Keells Krest is celebrated for its conveniecne, quantity and local flavours.
                        The brand emphazises food safety, freshness and catering to Sri Lankan tastes.
                    </p>

                </div>
            </section>
            <br><br><br>

            <section class="partner">
                <div class="partnerss-swiper-container swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide partnerss-card">
                            <img src="./public/img/ZILLIONe Logo.png" alt="" />
                        </div>
                    </div>
                </div>
                <div class="partner-content">
                    <h1>Official Associate Partner</h1>
                    <p> Company name: ZILLIONe</p>
                    <p>With over 44 years of excellence, ZILLIONe has built strong relationships with 400+ corporate 
                        customers across 10+ countries. Offering enterprise-wide business applications and systems solutions, 
                        ZILLIONe combines in-house development with global technology partnerships.
                    </p>

                </div>
            </section>
            <br><br><br>
           
           
            <section class="partner">
                <div class="partnerss-swiper-container swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide partnerss-card">
                            <img src="./public/img/PEARL.png" alt="" />
                        </div>
                    </div>
                </div>
                <div class="partner-content">
                    <h1>Official Gift Partner</h1>
                    <p> Company name: Pearl Bay</p>
                    <p>Pearl Bay is the first and only european health and safety
                        certified water park and karting circuit in Sri Lanka.
                        located in Bandaragama</p>

                </div>
            </section>
            <br><br><br>
            <section class="partner">
                <div class="partnerss-swiper-container swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide partnerss-card">
                            <img src="./public/img/SAMPATH.jpeg.jpg" alt="" />
                        </div>
                    </div>
                </div>
                <div class="partner-content">
                    <h1>Official Knowledge Partner</h1>
                    <p> Company name: Samapth Bank PLC</p>
                    <p>Sampath bank plc is a leader in innovative banking and financial services,
                         renowned for its commitment to excellence. 
                         Offering a comprehensive range of solutions, sampath 
                         bank empowers individuals and businesses with a strong 
                         focus on digital transformation and customer-centric 
                         services.As a benchmark setter in the financial industry, Sampath banK continues
                          to drive advancements that shape the future of banking.</p>

                </div>
            </section>
            <br><br><br>
            <section class="partner">
                <div class="partnerss-swiper-container swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide partnerss-card">
                            <img src="./public/img/N-ABLE.png" alt="" />
                        </div>
                    </div>
                </div>
                <div class="partner-content">
                    <h1>Official Networking Partner</h1>
                    <p> Company name: N-ABLE</p>
                    <p>N-able is a leading technology solutions provider, delivering a comprehensive 
                        portfolio of cutting-edge IT offerings - from infrastructure solutions to applications
                         and data solutions to managed services and more. Its purpose, "Connecting People and 
                         Things with Insights for an Efficient and Intelligent World," reflects its commitment 
                         to helping businesses harness the full potential of technology.</p>

                </div>
            </section>
        </div>
        <br>
       
       

        <div class="Partners-text">Compliments from</div>
        <br>
        <br>
        <div class="partners">
            <div class="partners-swiper-container swiper">
                <div class="swiper-wrapper">
                    <div class="swiper-slide partners-card">
                        <img src="./public/img/dakma.png" alt="" />
                    </div>
                    <div class="swiper-slide partners-card">
                        <img src="./public/img/tgwater.jpg" alt="" />
                    </div>
                    <div class="swiper-slide partners-card">
                        <img src="./public/img/nuvara.png" alt="" />
                    </div>
                    <div class="swiper-slide partners-card">
                        <img src="./public/img/mihiribakemart.webp" alt="" />
                    </div>
                    <div class="swiper-slide partners-card">
                        <img src="./public/img/kdaw.png" alt="" />
                    </div>
                    <div class="swiper-slide partners-card">
                        <!-- <img src="./public/img/kdaw.png" alt="" /> --> <p class="cardtext">Villa DK Delight</p>
                    </div>
                    
                    
                   
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="footer-content">
                <div>
                    <img src="./public/img/aislogos.png" width="600px" alt="" />
                </div>
                <p>
                    AIESEC in SLIIT is a local chapter of AIESEC Sri Lanka, a
                    non-governmental not-for-profit organization. AIESEC is a
                    global youth-led organization striving to achieve peace and
                    fulfillment of humankind's potential by activating
                    leadership qualities in youth through learning from
                    practical experiences in challenging environments. Together
                    with partner organizations, AIESEC facilitates a network of
                    cross-cultural exchanges 9n the form of volunteering
                    experiences and professional internships.
                </p>
                <ul class="socials">
                    <li>
                        <a href="http://aiesec.lk/intellicon24-event-page"><i class="fa fa-facebook"></i></a>
                    </li>
                    
                    <!-- <li>
                        <a href="#"><i class="fa fa-twitter"></i></a>
                    </li> -->
                   <!--  <li>
                        <a href="#"><i class="fa fa-google-plus"></i></a>
                    </li> -->
                    <li>
                        <a href="https://youtube.com/@aiesecinsrilanka?si=jpOZf__wqlNEQnYn"><i class="fa fa-youtube"></i></a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/company/aieseclk/"><i class="fa fa-linkedin-square"></i></a>
                    </li>
                </ul>
            </div>
            <div class="footer-bottom">
                <p>copyright &copy; <a href="#">OC-Talos</a></p>
                <div class="footer-menu">
                    <ul class="f-menu">
                        <a href="#" style="--i: 0">Home</a>
                        <a href="#timeline" style="--i: 1">Timeline</a>
                        <a href="Ideathon.html" style="--i: 2">Ideathon</a>
                        <a href="#FAQ" style="--i: 3">FAQ</a>
                        <a href="partners.html" style="--i: 4">Partners</a>
                        <a href="#contact us" style="--i: 5">Contact Us</a>
                    </ul>
                </div>
            </div>
        </div>

        <!-- =================================== -->

        <!-- =================================== main + scrollrevealjs + swiperjs =================================== -->
        <!-- =================================== main + scrollrevealjs + swiperjs =================================== -->
        <script src="./public/js/swiper-bundle.min.js"></script>
        <script>
            let swiperPartner = new Swiper(".partners-swiper-container", {
                direction: "horizontal",
                loop: true,

                autoplay: {
                    delay: 1500, // Delay between transitions in milliseconds
                    disableOnInteraction: false, // Continue autoplay even when user interacts with swiper
                },

                slidesPerView: 4,
                spaceBetween: 10,
            });
        </script>
    </body>
</html>
